In [2]:
list1 = [1,2,3,4,5,6,7,8,9]

In [8]:
list2 = [i*10 for i in list1 ]

In [9]:
list2

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [10]:
s = "Hello Karthik!"

In [15]:
lis = [10,20]

In [16]:
lis * 3

[10, 20, 10, 20, 10, 20]

In [17]:
lis + 36

TypeError: can only concatenate list (not "int") to list

In [18]:
lis.append(100)

[10, 20, 100]

In [23]:
a = "Karthik"

In [24]:
b = "Jetling"

In [25]:
a+b

'KarthikJetling'

In [27]:
a+' '+b

'Karthik Jetling'

In [41]:
# Sum of n Natural numbers.
n = int(input("Enter any number : "))
total  = 0
for i in range(1,n+1):
        total += i
print(f"Sum of numbers upto {n} is : {total}")

Enter any number : 250
Sum of numbers upto 250 is : 31375